		* {
		    padding: 0;
		    margin: 0;
		}
		body {
		    background-color: #333;
		    margin-bottom: 50px;
		}
		h1 {
		    color: rgba(255, 255, 255, 0.2);
		    font-size: 34px;
		}
		p {
		    color: #fff;
		    font-size: 22px;
		    line-height: 32px;
		    margin-bottom: 22px;
		    -webkit-font-smoothing: antialiased;
		}
		a {
		    color: #fff;
		    font-weight: 600;
		    text-decoration: none;
		    padding-bottom: -1px !important;
		    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
		}
		strong {
		    font-weight: 600;
		}
		a:hover {
		    color: #fff;
		    border-bottom: 3px solid rgba(255, 255, 255, 1);
		}
		#text {
		    font-family: 'Roboto', sans-serif;
            width: 450px;
		    margin: 50px auto 0 50px !important;
		}
		@media (max-width: 767px) {
		    #text {
		        position: relative;
		        width: auto;
		        padding: 20px;
		        margin: 0 !important;
		    }
		    .backstretch {
		        opacity: 0.2;
		    }
		}
		